.error-indicator {
    width: 100%;
    text-align: center;
    color: rgb(197, 62, 13);
}

.error-indicator span {
    display: block;
}

.boom {
    font-size: 2rem;
    text-transform: uppercase;
}